<div class="form-group row">
    <div class="col-12">
        <div class="form-group mb-3">
            <label>Member Name</label>
            <input type="text" class="form-control" [(ngModel)]="MemberName" placeholder="Enter Member Name">
        </div>
    </div>
</div>

<button (click)="addMember()" *ngIf="member.MemberID==0" class="btn btn-primary btn-block">
    Add
</button>

<button (click)="updateMember()" *ngIf="member.MemberID!=0" class="btn btn-primary btn-block">
    Update
</button>